*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
libs/
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.idea/compiler.xml
.idea/dictionaries/Mauricio.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/markdown-exported-files.xml
.idea/compiler.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/markdown-navigator.xml
